body {
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    color: #82a5ca;
    font-weight: 800;
    margin: 0;
}

#hero {
    background-image: url(https://media.giphy.com/media/iicDrNGWxHmDrIni6j/giphy.gif);
    background-size: cover;
    padding: 10px 0px 80px 0px;
}

#title {
    text-shadow: 0 0 4px black;
}

.btn {
    padding: 6px 12px;
    font-family: inherit;
}

.underline {
    border-bottom: 3px solid white;
}

#logo {
    width: 120px;
    padding: 20px;
}